<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container"><div class="row">
        <div class = "col-sm-3 col-md-6 col-lg-12" style="background-color:purple; top:-20px">
            <h3><a href="/" style="color: white; top:10px">
          <span class="glyphicon glyphicon-chevron-left" style="top:10px"></span>
        </a></h3>
            <center><h1 style="color: antiquewhite">&#8451 - Zone </h1></br></br></center>
     </div></div>
     <div class="row">
     <div class = "col-sm-3 col-md-6 col-lg-12">
         <h3></br></br></br>
         <center><form action="/calc" method="POST">
         <div class="form-group">
         <label for="text">Please type the location : </label>
         <input type="text" name="loc"/></br></br>
         <button type="submit" class="btn btn-primary btn-md">Submit</button>
         </div>
         </form></center>
         </h3>
     </div>
     <br>
     
            </div></div>
</body>
</html>