<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
    <div class="container">
    </br></br>
    <center><h2 style="color:purple">Temperature Bros</h2>
    </br></br>
    <img src="Color-Temperature.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
    </br></br>
    </br></br>
    <form method="GET" action="/calc">
    <button type="submit" class="btn btn-primary btn-md">Click here to continue</button></center>
    </form>
    </div>
    </body>
</html>